@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 5, 5, 5;
    --background-end-rgb: 0, 0, 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: rgb(var(--background-start-rgb));
    font-feature-settings: "ss01", "ss02", "cv01", "cv02", "cv03";
}

/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.perspective-1000 {
    perspective: 1000px;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}